* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0b1220;
  background-image: url("assets/back.png");
  color: white;
}
body {
  margin: 0;
  background: url("/src/assets/back.png") no-repeat center center fixed;
  background-size: cover;
}

/* Background */
.map-bg {
  position: absolute;
  inset: 0;
  background: url("/map-bg.png") center/cover no-repeat;
  opacity: 0.25;
  z-index: -1;
}

/* Home Layout */
.home-container {
  min-height: 100vh;
  padding: 40px;
  position: relative;
}

/* Profile Icon */
.profile-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  background: #1f2937;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}

/* Search */
.search-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-box input {
  width: 60%;
  padding: 14px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: #1f2937;
  color: white;
  font-size: 16px;
}

/* Title */
.title {
  text-align: center;
  margin: 50px 0 40px;
  font-size: 32px;
}

/* State Cards */
.state-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.state-card {
  background: #374151;
  padding: 25px 50px;
  border-radius: 16px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.state-card:hover {
  background: #4b5563;
}


